.subsidio button{
    border-radius: 10px;
    padding: 8px 10px;
    font-size: 17px;
    background-color:  #eb6442;
    color: #005500;
    cursor: pointer;
    transition: background-color 0,3s ease, color 0,3s ease;
}

.subsidio button:hover {
    background-color: #f03a0c;
    color: #ffffff;
}